[submodule "src/libraries/bimp"]
	path = src/libraries/bimp
	url = ssh://git@github.com:xzrunner/bimp.git
[submodule "src/libraries/camera25"]
	path = src/libraries/camera25
	url = ssh://git@github.com:xzrunner/camera25.git
[submodule "src/libraries/cu"]
	path = src/libraries/cu
	url = ssh://git@github.com:xzrunner/cu.git
[submodule "src/libraries/ds"]
	path = src/libraries/ds
	url = ssh://git@github.com:xzrunner/ds.git
[submodule "src/libraries/dtex2"]
	path = src/libraries/dtex2
	url = ssh://git@github.com:xzrunner/dtex2.git
[submodule "src/libraries/fs"]
	path = src/libraries/fs
	url = ssh://git@github.com:xzrunner/fs.git
[submodule "src/libraries/gimg"]
	path = src/libraries/gimg
	url = ssh://git@github.com:xzrunner/gimg.git
[submodule "src/libraries/glp"]
	path = src/libraries/glp
	url = ssh://git@github.com:xzrunner/glp.git
[submodule "src/libraries/gtxt"]
	path = src/libraries/gtxt
	url = ssh://git@github.com:xzrunner/gtxt.git
[submodule "src/libraries/gum"]
	path = src/libraries/gum
	url = ssh://git@github.com:xzrunner/gum.git
[submodule "src/libraries/logger"]
	path = src/libraries/logger
	url = ssh://git@github.com:xzrunner/logger.git
[submodule "src/libraries/model3"]
	path = src/libraries/model3
	url = ssh://git@github.com:xzrunner/model3.git
[submodule "src/libraries/mtrail"]
	path = src/libraries/mtrail
	url = ssh://git@github.com:xzrunner/mtrail.git
[submodule "src/libraries/pimg"]
	path = src/libraries/pimg
	url = ssh://git@github.com:xzrunner/pimg.git
[submodule "src/libraries/polymesh"]
	path = src/libraries/polymesh
	url = ssh://git@github.com:xzrunner/polymesh.git
[submodule "src/libraries/ps"]
	path = src/libraries/ps
	url = ssh://git@github.com:xzrunner/ps.git
[submodule "src/libraries/RapidVG"]
	path = src/libraries/RapidVG
	url = ssh://git@github.com:xzrunner/RapidVG.git
[submodule "src/libraries/rigging"]
	path = src/libraries/rigging
	url = ssh://git@github.com:xzrunner/rigging.git
[submodule "src/libraries/ShaderLab"]
	path = src/libraries/ShaderLab
	url = ssh://git@github.com:xzrunner/ShaderLab.git
[submodule "src/libraries/simp"]
	path = src/libraries/simp
	url = ssh://git@github.com:xzrunner/simp.git
[submodule "src/libraries/sm"]
	path = src/libraries/sm
	url = ssh://git@github.com:xzrunner/sm.git
[submodule "src/libraries/sprite2"]
	path = src/libraries/sprite2
	url = ssh://git@github.com:xzrunner/sprite2.git
[submodule "src/libraries/tasks"]
	path = src/libraries/tasks
	url = ssh://git@github.com:xzrunner/tasks.git
[submodule "src/libraries/texpack"]
	path = src/libraries/texpack
	url = ssh://git@github.com:xzrunner/texpack.git
[submodule "src/libraries/timp"]
	path = src/libraries/timp
	url = ssh://git@github.com:xzrunner/timp.git
[submodule "src/libraries/unirender"]
	path = src/libraries/unirender
	url = ssh://git@github.com:xzrunner/unirender.git
